<html>
  <head>
  <% if message.include?("Way") %>
    <style>
      body {
      background: red;
      }
    </style>
    <% elsif message.include?("right") %>
    <style>
      body {
      background: green;
      }
    </style>
  <% else %>
  <style>
      body {
      background: yellow;
      }
    </style>
  <% end %>


  </head>
  <body>
    
    <p>
      <%= message %>
    </p>
   

    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>